@use "global" as *;

.top-features .title h2 {
  font-family: unset;
  font-size: 2.5rem;
  line-height: 61px;
  color: #025157;
  font-weight: bold;
}

.top-features p {
    color: black;
    font-size: 0.8rem;
}   

.top-features .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.top-features {
    margin-top: 10rem;
    .card {
        max-width: unset;
        border: none;
        background-color: transparent;
        .card-img-top {
            border: 1px solid rgb(196, 196, 196);
            border-radius: 2.5%;
        }
        .card-title,
        .card-text {
            text-align: center;
        }
        .card-title {
            transition: color 1.5s linear;
            transition: transform .5s ease-in-out;
            &:hover {
                color: $light-green-2;
                transform: scale(1.2);
            }
        }
    }
}

.arrow-container {
    // display: flex;
    // justify-content: center;
    margin: 6rem;
    .arrow-position {
        position: relative;
        height: 5rem;
        display: flex;
        justify-content: center;
        .green-arrow {
            position: absolute;
            width: 5rem;
            animation-duration: 3s;
            animation-name: up-down, lateral;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            img {
                width: 100%;
                transform: rotate(-90deg);
            }
        }
    }
}

@keyframes lateral {
    from {left: calc(50% - 5rem);}
    to {left: calc(50% + 5rem);}
}

@keyframes up-down {
    0% {top: 0rem;}
    25% {top: -3rem;}
    50% {top: 0;}
    75% {top: 3rem;}
    100% {top: 0;}


}