@use "global" as *;

h2 {
  font-family: $font-title;
  color: $dark-green-title;
  font-weight: 800;
  font-size: 51px;
}

.try-it {
    padding: 50px;
    background-color: $light-green-2;
  .signup-form {
    display: unset;
  }
  h2 {
    margin-bottom: 40px;
  }
  p {
    margin-top: 20px;
    color: $white;
  }
}

.container.cta {
    margin: 2rem auto;
    border-radius: 10px;
    background-color: $dark-green-text;
    h2 {
        color: $white;
        font-size: 34px;
    }
    a {
        color: $light-green-2;
    }
    button {
        background-color: $light-green;
    }
    p {
        color: $white;
    }
    .box > * {
        padding: 80px 100px;
    }
    .signup-form {
      margin-bottom: 20px;
    }
}

@media (min-width: $telefono) and (max-width: $tablet) {
  .container.cta {
    .box > * {
      &:first-of-type {
        padding-bottom: 0px;
      }
      &:last-of-type {
        padding-top: 0px;
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop) {
  .container.cta {
    .box > * {
      &:first-of-type {
        padding-right: 20px;
        padding-left: 40px;
      }
      &:last-of-type {
        padding-left: 20px;
        padding-right: 40px;
      }
    }
  }
}

@media (min-width: $desktop) and (max-width: $desktopXL) {
  .container.cta {
    .box > * {
      &:first-of-type {
        padding-right: 30px;
      }
      &:last-of-type {
        padding-left: 30px;
      }
    }
  }
}
