/** _global.scss */
/** colores */
/** fuentes */
/* Media queries */
/** placeholders */
.blog .title {
  font-family: "Alegreya", serif;
  color: #135359;
}

/** main.scss */ /** _global.scss */
/** colores */
/** fuentes */
/* Media queries */
/** placeholders */
.blog .title {
  font-family: "Alegreya", serif;
  color: #135359;
}

h2 {
  font-family: "Alegreya", serif;
  color: #025157;
  font-weight: 800;
  font-size: 51px;
}

.try-it {
  padding: 50px;
  background-color: #96d178;
}
.try-it .signup-form {
  display: unset;
}
.try-it h2 {
  margin-bottom: 40px;
}
.try-it p {
  margin-top: 20px;
  color: #ffffff;
}

.container.cta {
  margin: 2rem auto;
  border-radius: 10px;
  background-color: #135359;
}
.container.cta h2 {
  color: #ffffff;
  font-size: 34px;
}
.container.cta a {
  color: #96d178;
}
.container.cta button {
  background-color: #67b54b;
}
.container.cta p {
  color: #ffffff;
}
.container.cta .box > * {
  padding: 80px 100px;
}
.container.cta .signup-form {
  margin-bottom: 20px;
}

@media (min-width: 575px) and (max-width: 767px) {
  .container.cta .box > *:first-of-type {
    padding-bottom: 0px;
  }
  .container.cta .box > *:last-of-type {
    padding-top: 0px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .container.cta .box > *:first-of-type {
    padding-right: 20px;
    padding-left: 40px;
  }
  .container.cta .box > *:last-of-type {
    padding-left: 20px;
    padding-right: 40px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .container.cta .box > *:first-of-type {
    padding-right: 30px;
  }
  .container.cta .box > *:last-of-type {
    padding-left: 30px;
  }
}
/** _global.scss */
/** colores */
/** fuentes */
/* Media queries */
/** placeholders */
.blog .title {
  font-family: "Alegreya", serif;
  color: #135359;
}

.top-features .title h2 {
  font-family: unset;
  font-size: 2.5rem;
  line-height: 61px;
  color: #025157;
  font-weight: bold;
}

.top-features p {
  color: black;
  font-size: 0.8rem;
}

.top-features .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem;
}

.top-features {
  margin-top: 10rem;
}
.top-features .card {
  max-width: unset;
  border: none;
  background-color: transparent;
}
.top-features .card .card-img-top {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 2.5%;
}
.top-features .card .card-title,
.top-features .card .card-text {
  text-align: center;
}
.top-features .card .card-title {
  transition: color 1.5s linear;
  transition: transform 0.5s ease-in-out;
}
.top-features .card .card-title:hover {
  color: #96d178;
  transform: scale(1.2);
}

.arrow-container {
  margin: 6rem;
}
.arrow-container .arrow-position {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: center;
}
.arrow-container .arrow-position .green-arrow {
  position: absolute;
  width: 5rem;
  animation-duration: 3s;
  animation-name: up-down, lateral;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.arrow-container .arrow-position .green-arrow img {
  width: 100%;
  transform: rotate(-90deg);
}

@keyframes lateral {
  from {
    left: calc(50% - 5rem);
  }
  to {
    left: calc(50% + 5rem);
  }
}
@keyframes up-down {
  0% {
    top: 0rem;
  }
  25% {
    top: -3rem;
  }
  50% {
    top: 0;
  }
  75% {
    top: 3rem;
  }
  100% {
    top: 0;
  }
}
.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 10%;
}
.blog .col {
  margin: auto 40px;
}
.blog .card {
  height: max-content;
}
.blog .process-list {
  margin-top: 40px;
  margin-bottom: 50px;
}
.blog .process-list .process {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.blog .process-list .process > div > h3 {
  color: #025157;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.blog .process-list .process > div > p {
  color: #135359;
  margin: 0;
}
.blog .process-list .process .process-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
}
.blog .process-list .process .process-icon img {
  height: 100%;
}
.blog button {
  height: auto;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  background-color: #025157;
  color: #fff;
  border: none;
}

button {
  background-color: #025157;
}
button:hover {
  background-color: #67b54b;
}
button.light-btn:hover {
  background-color: #013a3e;
}

@media (max-width: 767px) {
  .blog .row {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .blog .row > * {
    width: unset;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .item1 {
    grid-area: blog-info;
  }
  .blog .row {
    display: grid;
    grid-template-areas: "blog-info blog-info";
    row-gap: 100px;
  }
}

/*# sourceMappingURL=output.css.map */
