html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
  z-index: 2;
}

a {
  text-decoration: none;
}

h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
  font-weight: 800;
}

h3 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 3rem;
  font-weight: 800;
}

h4 {
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  color: #8b8b8bcc;
  margin-top: 0.25rem;
  font-family: Verdana;
}

.header > * {
  /* display: inline-block; */
  /* font-size: 5rem; */
  vertical-align: middle;
  height: 100%;
  /* line-height: 5rem; */
}

.header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* margin: 40px 20px 0; */
  /* font-size: 0; */
  font-family: sans-serif;
  /* line-height: 4.5rem; */
}

.logo > img {
  /* width: 15%; */
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.publish .publish-text p,
.publish .publish-text .signup-form {
  margin-left: 0;
}

.publish .publish-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
  border-radius: 0.5rem 0 0 0.5rem;
}

/* .main > img {
  display: block;
  max-width: 30rem;
  margin: 1rem auto;
} */

.banner > img {
  width: 20%;
}

.intro > img {
  width: 50%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  /* margin-right: 1rem; */
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
  display: flex;
  justify-content: center;
  color: #025157;
  text-align: center;
  font-weight: 500;
}

li {
  list-style-type: none;
  margin: auto 10px;
}

.actions {
  /* width: 15%; */
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  height: 55px;
}

.actions > a {
  color: #67b54b;
}

.actions > * {
  margin: auto 10px;
}

form > button,
.actions > button {
  color: white;
  background-color: #67b54b;
  padding: 18px 14px;
  border: 0px;
}

form > button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 18px 20px;
  margin-left: -10px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.actions > button {
  border-radius: 5px;
}

li {
  display: inline;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.publish > p {
  color: #343434;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish div > p {
  margin: 1rem;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 50%;
}

.explanatory-video > img {
  width: 5rem;
  margin: 1rem auto;
}

/* Features */

.features {
  display: grid;
  grid-template: repeat(2,330px) / repeat(2,1fr);
  background-color: #025157;
  color: #fff;
  padding: 100px;
  gap: 30px;
}

.feature-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 0 30px 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* gap: 1rem; */
}

.feature-card h3 {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 100;
  font-size: 24px;
}

.feature-card .feature-content > * {
  margin-bottom: 0.5rem;
}

.feature-card p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.feature-card a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.feature-content {
  overflow: hidden;
}

.feature-content figure {
  display: flex;
  justify-content: center;
  height: 40%;
}

.feature-content img {
  margin-bottom: 0.5rem;
}

.feature-image figure {
  overflow: hidden;
  height: 100%;
}

.feature-image img {
  height: 100%;
  position: relative;
  /* height: 300px; */
  /* position: relative; */
  /* right: -30%; */
  transform: translateX(19.5%);
  /* contain: cover; */
  /* top: 10px; 
  height: 260px; */
  /* height: calc(330px - ()); */
}

/* Succes stories */

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .stories-carousel {
  flex: 1;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
  font-weight: 800;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
  background-color: #025157;
  color: #fff;
  border: none;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

.card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}

.success-stories .card img {
  width: 100%;
  /* max-height: 16vw; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.success-stories .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.success-stories .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories .stories-carousel .company {
  position: relative;
}

.success-stories .stories-carousel .company figure {
  width: 7rem;
  height: 7rem;
  background-color: #f9da73;
  border-radius: 50%;
  position: absolute;
  top: -4rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-stories .stories-carousel .company img {
  width: 70%;
}

.success-stories .stories-carousel .card-body {
  margin: 40px 20px;
}

.success-stories .stories-carousel .results {
  display: flex;
}

.success-stories .stories-carousel .card-footer {
  margin: auto 20px 40px 20px;
}

.success-stories .stories-carousel button {
  width: 100%;
}


